@using ReaperKing.Anhydrate
@using ReaperKing.Anhydrate.Models

@inherits AnhydratePage<AnhydrateModel>
<!doctype html>
<html lang="en">
    <head>
        @{
            await IncludeAsync("/ReaperKing.Anhydrate/Document/Meta", Model);
            await IncludeAsync("/ReaperKing.Anhydrate/Document/Includes", Model);
        }

        @await RenderSectionAsync("ExtraDocumentHead", required: false)
    </head>

    <body>
        <div id="global-header">
            @{ RenderWidget("/ReaperKing.Anhydrate/Widgets", "SiteHeader"); }
            
            <div id="head-nav">
                @{ RenderWidget("/ReaperKing.Anhydrate/Widgets", "SiteNavigation"); }
            </div>
        </div>

        <div class="gutter-container">
            @if (Model.LayoutConfig is GutterLayoutSection[] sectionSetups)
            {
                foreach (GutterLayoutSection section in sectionSetups)
                {
                    string cssClass = section.Type switch {
                        GutterLayoutSection.ColumnType.Full => "col-full",
                        GutterLayoutSection.ColumnType.Grid => "col-grid",
                        _ => throw new ArgumentOutOfRangeException(nameof(section.Type)),
                    };

                    <div class="@cssClass">
                        @await RenderSectionAsync(section.Id, required: true)
                    </div>
                }
            } else {
                @RenderBody()
            }
        </div>

        <div class="gutter-container">
            <div class="col-narrow">
                @{ RenderWidget("/ReaperKing.Anhydrate/Widgets", "SiteFooter"); }
            </div>
        </div>
    </body>
</html>