@using RazorLight
@using ReaperKing.Anhydrate.Models

@inherits TemplatePage<AnhydrateModel>
@functions {
    private string GetDocumentTitle()
    {
        if (String.IsNullOrEmpty(Model.DocumentTitle))
        {
            return Model.SectionName;
        }
        
        if (Model.OverrideDocumentTitle)
        {
            return Model.DocumentTitle;
        }

        return $"{Model.DocumentTitle} — {Model.SectionName}";
    }
}

<meta charset="utf-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width, initial-scale=1">

<title>@GetDocumentTitle()</title>