@using ReaperKing.Anhydrate
@using ReaperKing.Anhydrate.Models

@inherits AnhydratePage<AnhydrateModel>
<span class="icon icon-ph"></span>
<a id="section-title" class="lead" href="@Model.RootUri">@Model.SectionName</a>