@*!
 * This file is a part of Xeno, and the project's repository may be found at https://github.com/alex4401/rk.
 *
 * The project is free software: you can redistribute it and/or modify it under the terms of the GNU General Public
 * License as published by the Free Software Foundation, either version 3 of the License, or (at your option) any later
 * version.
 *
 * This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied
 * warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License along with this program. If not, see
 * http://www.gnu.org/licenses/.
 *@

@using Xeno.Anhydrate
@using Xeno.Anhydrate.Models

@inherits AnhydratePage<AnhydrateModel>
<!doctype html>
<html lang="en">
    <head>
        @{
            await IncludeAsync("/Xeno.Anhydrate/Document/Meta", Model);
            await IncludeAsync("/Xeno.Anhydrate/Document/Includes", Model);
        }

        @await RenderSectionAsync("ExtraDocumentHead", required: false)
    </head>

    <body>
        <div id="top-bar">
            @{ RenderWidget("/Xeno.Anhydrate/Widgets", "SiteHeader"); }
            
            <div id="top-nav">
                @{ RenderWidget("/Xeno.Anhydrate/Widgets", "SiteNavigation"); }
            </div>
        </div>

        <div class="gutter-container @Model.LayoutCssClasses">
            @if (Model.LayoutConfig is GutterLayoutSection[] sectionSetups)
            {
                foreach (GutterLayoutSection setup in sectionSetups)
                {
                    string cssClass = setup.Type switch {
                        GutterLayoutSection.SectionType.Full => "col-full",
                        GutterLayoutSection.SectionType.Grid => "col-grid",
                        GutterLayoutSection.SectionType.Row => "col-row",
                        GutterLayoutSection.SectionType.NarrowFit => "col-narrow col-fit",
                        GutterLayoutSection.SectionType.Narrower => "col-narrow2",
                        GutterLayoutSection.SectionType.Break => "flex-break",
                        GutterLayoutSection.SectionType.BreakMobile => "flex-break2",
                        GutterLayoutSection.SectionType.Custom => setup.CustomClass,
                        
                        _ => throw new ArgumentOutOfRangeException(nameof(setup.Type)),
                    };

                    <div class="@cssClass" id="@setup.HtmlId">
                        @if (!String.IsNullOrEmpty(setup.Id))
                        {
                            @await RenderSectionAsync(setup.Id, required: true)
                        }
                    </div>
                }
            } else {
                @RenderBody()
            }
        </div>

        <div class="gutter-container">
            <div class="col-narrow">
                @{ RenderWidget("/Xeno.Anhydrate/Widgets", "SiteFooter"); }
            </div>
        </div>
        
        @await RenderSectionAsync("PostDocument", required: false)
    </body>
</html>